<h1>Activities</h1>

<a href="/activity_add/">+ Add Activity</a>
<div style="width:540px;margin:0px auto;">
{% if latest_activity_list %}
    <table border="1" cellpadding="0" cellspacing="0" style="width:100%;">
        <thead>
        <tr style="background-color:Maroon;color:White;font-weight:bold;">
          <th style="height:27px;" valign="middle">Activity Name</th>
<th style="height:27px;" valign="middle">Activity Type</th>
<th style="height:27px;" valign="middle">Activity Date</th>
<th style="height:27px;" valign="middle">Activity Desc</th>
          </tr>
        </thead>
        <tbody>
        {% for activity in latest_activity_list %} 
        <tr>
          <td style="height:36px;" valign="middle">
          {{ activity.ActivityName }}
          </td>
<td style="height:36px;" valign="middle">
           {{activity.ActivityType}}
          </td>
<td style="height:36px;" valign="middle">
           {{activity.ActivityDate}}
          </td>
<td style="height:36px;" valign="middle">
           {{activity.ActivityDesc}}
          </td>      
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No activities created.</p>
{% endif %}
</div>